<%- include ('partials/header') %>
    <section class="container flex">
      <div class="flex-box">
        <form action="/articles/<%= article.id %>" method="POST">
          <h2 class="form-header">Article Details</h2>
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Enter Title"
            value="<%= article.title %>"
          />
          <textarea
            name="description"
            id=""
            cols="87"
            rows="15"
            placeholder="Add Description"
          >
          <%= article.description %></textarea
          >
          <input
            type="number"
            name="likes"
            class="form-control"
            placeholder="likes"
            value="<%= article.likes %>"
          />
          <input
            type="submit"
            class="btn btn-add-update"
            value="Update Article"
          />
        </form>
      </div>
    </section>
    <%- include ('partials/footer') %>
